<!--詳細確認.編集と戻る-->
<div class = "body_show">
  <div class = "primary">
    <h2>詳細</h2>
  </div>
  <h3>タイトル</h3>
  <p><%= @book.title %></p>
  <h3>感想</h3>
  <p><%= @book.body %></p>
  <div class ="button">
    <a href="/books">戻る</a>
  </div>
</div>